/*
 * Copyright (c) 2025 The FINCH CubeSat Project Flight Software Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <st/h7/stm32h743Xi.dtsi>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>
#include <zephyr/dt-bindings/clock/stm32h7_clock.h>

/ {
	model = "finch,pay";
	compatible = "finch,pay";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,console = &uart4;
		/* Selects raw CAN hardware; it does not attach CAN to libcsp by itself. */
		zephyr,canbus = &fdcan1;
		/* Applications dequeue completed camera frames from DCMI. */
		zephyr,camera = &dcmi;
	};

	fstab {
		compatible = "zephyr,fstab";

		sd_card: sd-card {
			compatible = "zephyr,fstab,fatfs";
			mount-point = "/SD:";
			disk-access;
		};
	};

	leds: leds {
		compatible = "gpio-leds";
		act_led: led_0 {
			gpios = <&gpiof 14 GPIO_ACTIVE_HIGH>;
			label = "LED0";
		};
		wrn_led: led_1 {
			gpios = <&gpiof 13 GPIO_ACTIVE_HIGH>;
			label = "LED1";
		};
	};

	aliases {
		led0 = &act_led;
		actled = &act_led;
		led1 = &wrn_led;
		wrnled = &wrn_led;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(24)>;
	status = "okay";
};

&pll {
	div-m = <2>;
	mul-n = <80>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(480)>;
	d1cpre = <1>;
	hpre = <4>;
	d1ppre = <1>;
	d2ppre1 = <1>;
	d2ppre2 = <1>;
	d3ppre = <1>;
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 DT_SIZE_K(128)>;
		};
	};
};

&uart4 {
	pinctrl-0 = <&uart4_tx_ph13 &uart4_rx_ph14>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&pinctrl {
	uart4_tx_ph13: uart4_tx_ph13 {
		pinmux = <STM32_PINMUX('H', 13, AF8)>;
	};

	uart4_rx_ph14: uart4_rx_ph14 {
		pinmux = <STM32_PINMUX('H', 14, AF8)>;
	};

	fdcan1_rx_pa11: fdcan1_rx_pa11 {
		pinmux = <STM32_PINMUX('A', 11, AF9)>;
	};

	fdcan1_tx_pa12: fdcan1_tx_pa12 {
		pinmux = <STM32_PINMUX('A', 12, AF9)>;
	};

	/* MCO1 drives the OV7670 XCLK input from PA8. */
	rcc_mco_1_pa8: rcc_mco_1_pa8 {
		pinmux = <STM32_PINMUX('A', 8, AF0)>;
		slew-rate = "very-high-speed";
	};

	i2c1_scl_pb8: i2c1_scl_pb8 {
		pinmux = <STM32_PINMUX('B', 8, AF4)>;
		bias-pull-up;
		drive-open-drain;
	};

	i2c1_sda_pb9: i2c1_sda_pb9 {
		pinmux = <STM32_PINMUX('B', 9, AF4)>;
		bias-pull-up;
		drive-open-drain;
	};

	dcmi_pins: dcmi_pins {
		pinmux = <STM32_PINMUX('A', 6, AF13)>,
			 <STM32_PINMUX('H', 8, AF13)>,
			 <STM32_PINMUX('I', 5, AF13)>,
			 <STM32_PINMUX('H', 9, AF13)>,
			 <STM32_PINMUX('H', 10, AF13)>,
			 <STM32_PINMUX('H', 11, AF13)>,
			 <STM32_PINMUX('H', 12, AF13)>,
			 <STM32_PINMUX('E', 4, AF13)>,
			 <STM32_PINMUX('I', 4, AF13)>,
			 <STM32_PINMUX('E', 5, AF13)>,
			 <STM32_PINMUX('E', 6, AF13)>;
	};

	sdmmc1_pins: sdmmc1_pins {
		pinmux = <STM32_PINMUX('C', 8, AF12)>,
			 <STM32_PINMUX('C', 9, AF12)>,
			 <STM32_PINMUX('C', 10, AF12)>,
			 <STM32_PINMUX('C', 11, AF12)>,
			 <STM32_PINMUX('C', 12, AF12)>,
			 <STM32_PINMUX('D', 2, AF12)>;
		bias-pull-up;
		slew-rate = "very-high-speed";
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
	pinctrl-names = "default";
	clock-frequency = <400000>;
	status = "okay";

	ov7670: ov7670@21 {
		compatible = "ovti,ov7670";
		reg = <0x21>;
		status = "okay";

		port {
			ov7670_ep_out: endpoint {
				remote-endpoint-label = "dcmi_ep_in";
			};
		};
	};
};

/* Output the board's 24 MHz HSE divided by four: 6 MHz for OV7670 XCLK. */
&mco1 {
	clocks = <&rcc STM32_SRC_HSE MCO1_SEL(MCO1_SEL_HSE)>;
	prescaler = <MCO1_PRE(MCO_PRE_DIV_4)>;
	pinctrl-0 = <&rcc_mco_1_pa8>;
	pinctrl-names = "default";
	status = "okay";
};

&dcmi {
	pinctrl-0 = <&dcmi_pins>;
	pinctrl-names = "default";
	status = "okay";

	port {
		dcmi_ep_in: endpoint {
			remote-endpoint-label = "ov7670_ep_out";
			bus-width = <8>;
			hsync-active = <0>;
			vsync-active = <0>;
			pclk-sample = <1>;
		};
	};
};

&dma1 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&sdmmc1 {
	pinctrl-0 = <&sdmmc1_pins>;
	pinctrl-names = "default";
	bus-width = <4>;
	cd-gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;
	disk-name = "SD";
	status = "okay";
};

&fdcan1 {
	bitrate = <100000>;
	sample-point = <875>;
	clocks = <&rcc STM32_CLOCK_BUS_APB1_2 0x00000100>,
			<&rcc STM32_SRC_HSE FDCAN_SEL(0)>;

	pinctrl-0 = <&fdcan1_rx_pa11 &fdcan1_tx_pa12>;
	pinctrl-names = "default";

	status = "okay";
};

